node_modules/
.cache/
public
.env.development
./src/pages/work-jquery-converted-to-js-but-not-working.js
./src/components/careersForm.js
./src/pages/shop-old.js
email.html
./src/pages/careers-aws.js
./src/pages/careers-netlify.js
./src/pages/careers2-BACKUP.js
./src/pages/shop