@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "Ionicons";
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}
@import url('http://fonts.cdnfonts.com/css/tiempos-headline?styles=20872');

@font-face {
    font-family: 'tiempos_headlineregular';
    src: url('../fonts/tiemposheadline-regular-webfont.woff2') format('woff2'),
         url('../fonts/tiemposheadline-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* EXTRA GRAPHIK FONT STYLES - DELETE IF UNUSED WHEN FINISHED*/

/* @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Black.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Bold.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Extralight.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Light.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
} */


/* @font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../assets/fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-Thin.woff2') format('woff2'),
        url('../assets/fonts/Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
} */



















