

.left-text {
    text-align: left;
    text-transform: uppercase;
}
.left-text::after {
    content: "  +";
    transition: all 0.3s ease;
}

nav.active .nav-bar .our-work .left-text::after {
    content: "  —";
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

 .black-header-background {
    background-color: black;
 }

 /* temporary CSS -- delete when implementing new header */
 .left-text::after {
     content: "";
     transition: all 0.3s ease;
 }

 .left-text {
    text-decoration: underline;
    text-underline-offset: 2px;
    
 }

