.shop-layout-container {
    width: 100%;
    height: 100%;
}

.background-image-container.shop {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.shop-background-image {
    width: 100%;
    height: 100%;

}



.content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70px;
    /* z-index: 99999; */

}
.product-container {
    height: auto;
    width: 100%;
    display: flex;
}

.product-image-container {
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.product-image {
    height: 100%;
    width: auto;
    max-height: 60vh;
}

.product-details-container {
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    color: white;
    font-family: Graphik, sans-serif;

}

.clayer-price {
    height: 100%;
    color: white;
}

#shopping-bag-close,
#shopping-bag-nav-close,
a.clayer-shopping-bag-item-remove,
a.clayer-shopping-bag-checkout {
    color: black;
}



/* START HERE */


body {
   
}

a {
    
}

.has-text-success {
    color: #38a75efc !important;
}

.has-text-grey-light {
    color: #929297 !important;
}

#add-to-bag {
    background: #2c844afc;
    color: #ffffff;
}

#contentful-logo {
    width: 110px;
}

#commercelayer-logo {
    width: 150px;
}

.navbar-brand .icon {
    margin: 0 5px;
}

#country-selector {
    margin-bottom: 40px;
}

.category-listing {
    margin-top: 10px;
    padding: 40px;
}

.product-listing h2 {
    min-height: 60px;
}

.amount {
    font-weight: bold;
}

.compare-at-amount {
    text-decoration: line-through;
}

.large {
    font-size: 1.5rem;
}

.variant-select-wrap {
    margin-top: 0.7em;
}

.add-to-bag,
.available-message,
.unavailable-message,
#availability-message {
    margin-top: 1.3em;
}

.available-message,
.unavailable-message {
    display: none;
}

#shopping-bag,
#shopping-bag-nav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 29;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #fafafa;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    border-left: 1px solid #eee;
}

#shopping-bag.open,
#shopping-bag-nav.open {
    width: 500px;
}

.shopping-bag-content {
    width: 500px;
    padding: 20px 40px;
    overflow-x: hidden;
}

.shopping-bag-col {
    font-size: 0.8rem;
}

.shopping-bag-col-image img {
    width: 80px;
    border: 1px solid #eee;
}

.shopping-bag-unavailable-message {
    display: none;
    margin-bottom: 10px;
}

#shopping-bag-preview-total,
#shopping-bag-nav-preview-total {
    text-align: right;
    font-weight: bold;
}

#shopping-bag-table,
#shopping-bag-nav-table {
    background-color: #fafafa;
    /* Black*/
}

#shopping-bag-table td,
#shopping-bag-nav-table td {
    border: none;
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 20px;
}

#main {
    transition: opacity 0.5s;
    min-height: 72vh;
}

#main.open {
    opacity: 0.3;
}

.description {
    margin-bottom: 1.5rem;
}

.column.is-one-quarter>.box {
    padding: 0.45rem;
}

.dropdown-disabled::after {
    display: none !important;
}

.navbar {
    min-height: 56px !important;
}

a.checkout {
    color: black;
}

ul.size-labels {
    display:flex;
    height:100%;
    width: 100%;
    flex-direction: column;

}

.radio-button {
}

/* commented out because it was messing up careers page */
label {
    /* font-size: 10px; */
}
input.sizeRadio {

}

.radio-button label {
    font-family: inherit;
    position: relative;
}

.radio-button label:active,
.radio-button label:focus{
    text-decoration: underline;
}

.radio-button:active {
    color:red;
}

input:active ~ label {
    text-decoration: underline;
}

label {
    position: relative;
    
}


input[type="radio"]:checked+label { font-weight: bold !important; }



select.variant-select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: white;
    position: relative;
    text-transform: uppercase;
    outline:none;
}

select.variant-select::-ms-expand {
    display:none;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}



select.variant-select:after {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}